<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Platform>x64</Platform>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishDir>bin\\win-x64\publish\</PublishDir>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>false</PublishSingleFile>
		<Configuration>Release</Configuration>
		<TargetFramework>net10.0-windows10.0.19041.0</TargetFramework>
		<PublishReadyToRun>false</PublishReadyToRun>
		<!--<WindowsPackageType>None</WindowsPackageType>-->
		<WindowsPackageType>MSIX</WindowsPackageType>
		<WindowsAppSDKSelfContained>false</WindowsAppSDKSelfContained>
		<SatelliteResourceLanguages>en</SatelliteResourceLanguages>
	</PropertyGroup>

	<Target Name="RemoveUnwantedSatelliteResources" AfterTargets="Publish">
		<ItemGroup>
			<_UnwantedCultures Include="cs;de;es;fr;zh-cn;zh-tw;ru;pt;it;ja;ko;pl" />
		</ItemGroup>

		<ItemGroup>
			<_SatelliteDirs Include="@(_UnwantedCultures->'$(PublishDir)%(Identity)')" />
		</ItemGroup>

		<Message Text="Removing satellite resource directories: %(_SatelliteDirs.Identity)" Importance="high" />
		<RemoveDir Directories="@(_SatelliteDirs)" ContinueOnError="true" />
	</Target>
</Project>